﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About us";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    
</hgroup>

<article>
    <p>
        We are passionate about what we do, which means you get the best service.
    </p>

    <p>
        Our prices are lower than the other big companies
    </p>

    <p>
        Contact us to discuss your needs so we can offer the best solutions.
    </p>
</article>

